{% extends "base.html" %}

{% block content %} 


<!--Edit Article--> 
<div class="col-lg-9 py-3">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1>{% if request.path == '/posts/create/' %}New Article {% else %}Edit Article{% endif %}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}                    
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </form>

        </div>
    </div>

</div>

{% endblock %}